@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #070D0D;
    color: #F0EDE4;
    font-family: 'Google Sans Code', monospace;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:  1;
    width: 100%;
}

.start {
    font-family: 'Pixelify Sans', medium;
    font-size: 24px;
    background-color: #F0EDE4;
    color: #070D0D;
    padding: 10px 20px;
    border-radius: 15px;
    transition: transform 0.2s;
    cursor: pointer;

}

.start:hover {
    transform: scale(1.05);
    background-color: #070D0D;
    color: #F0EDE4;
}

.container-rodape {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 25px;
    width: inherit;

}

.right-footer {
    text-align: right;
}
